@import 'base';
header {
  .header_brand {
    .media-body {
      h2 {
        font-family: @extraBold;
      }
    }
    @media screen and (max-width: 1500px) {
      .media-left {
        padding-right: 0;
      }
    }
  }
  .header_top_nav {
    border-bottom: 1px solid @bord_color;
    ul {
      .flex-align();
      padding: 15px 0;
      li {
        a {
          color: @textGray;
          .text_hover();
          cursor: pointer;
        }
      }
      &.right_nav {
        li {
          &:first-of-type {
           img {
             margin-right: 20px;
           }
          }
          a {
            color: #818181;
            .text_hover();
          }
        }
      }
    }
    @media screen and (max-width: 991px) {
      ul {
        display: block;
        height: 560px;
        //overflow: scrogit ll;
        background: @color-base;
        padding: 30px;
        margin-top: -560px;
        .transition();
        li {
          display: block;
          margin-bottom: 40px;
          a {
            color: @white;
            font-size: @baseFontSize * 1.7;
            &:hover {
              color: @white;
            }
          }
        }
        &.active {
          margin-top: 0;
        }
      }
    }
  }
  .header_middle_nav {
   & > .container {
     & > .row {
       border-bottom: 1px solid @bord_color;
     }
   }
    .row {
      & > div:not(.header_contact) {
        .flex-align(center);
        height: 100px;
        &.header_work_time {
          justify-content: flex-start;
        }
      }
      .header_cart {
        .header_search {
          width: 75px;
          height: 60px;
          background: @backGray;
          .flex-align(center);
          margin-right: 4px;
        }
        .header_cart_block {
          width: 300px;
          height: 60px;
          background: @backGray;
          padding-left: 25px;
          .flex-align();
          a {
            color: @textGray;
            .text_hover();
          }
        }
        @media screen and (max-width: 1500px) {
          .header_cart_block {
            width: 250px;
          }
        }
      }
    }
    .media {
      .media-body {
        vertical-align: middle;
      }
    }

    .info_nav {
      .flex-align();
    }
    .header_work_time {
      @media screen and (max-width: 1500px) {
        span {
          font-size: @baseFontSize - 2;
        }
      }
    }
  }
  .category_nav {
    height: 80px;
    .flex-align();
    li {
      padding: 10px;
      &.active {
        border: 2px solid @color-base;
      }
      a {
        font-family: @hightBlod;
        font-size: @baseFontSize + 3;
        color: @black;
        .text_hover();
      }
    }
  }
}
.header_mobile {
  height: 100px;
  padding: 20px 30px;
  .row {
    position: relative;
    padding: 0;
  }
  .mobile_top_logo {
    padding: 5px 0;
    width: 290px;
    .margin_align();
    .media-left {
      padding-right: 5px;
    }
    .media-body {
      vertical-align: bottom;
      h3 {
        font-size: @h2_size - 2;
        font-family: @extraBold;
        .padding_margin_clear();
      }
    }
    span {
      font-size: @baseFontSize - 6;
      text-transform: uppercase;
    }
  }
  .mobile_top_cart {
    right: 0;
    top: 15px;
  }
  .mobile_menu_toggle {
    left: 0;
    top: 15px;
    .toggle(@color-base);
    cursor: pointer;
    span {
      .radius(8px);
      width: 35px;
      height: 4px;
    }
  }
  @media screen and (max-width: 441px) {
    padding: 20px;
    .mobile_top_logo {
      width: 250px;
      .media-body {
        h3 {
          font-size: 20px;
        }
      }
    }
  }
  @media screen and (max-width: 360px) {
    .mobile_top_logo {
      width: 200px;
      padding: 10px 0;
    }
    .media {
      .media-left {
        img {
          width: 50px;
        }
      }
    }
  }
}
main {
  .main_carousel_block {
    #mainCarousel {
      .carousel-indicators {
        .flex-align(center);
        width: 135px;
        height: 100px;
        background: @color-base;
        bottom: 0;
        margin-bottom: 0;
        li {
          width: 5px;
          height: 5px;
          background: @white;
          .transition();
          &.active {
            background: transparent;
            width: 10px;
            height: 10px;
          }
          &:nth-of-type(2) {
            margin: 0 15px;
          }
        }
      }
      .carousel-inner {
        .item {
          .cover('../img/carousel_item_1.jpg');
          height: 770px;
        }
      }
      @media screen and (max-width: 991px) {
        .carousel-indicators {
          right: 0;
          left: auto;
        }
      }
    }
    .right_block {
        .red_block {
        background: @color-base;
        height: 460px;
        .absolute_block {
          width: 380px;
          height: 320px;
          border: 3px solid @white;
          left: 70px;
          top: 70px;
          padding: 50px;
          .align();
          h1,
          span {
            color: @white;
          }
          h1 {
            font-size: 115px;
          }
          span {
            font-size: @h2_size;
          }
        }
      }
      .gray_block {
        padding: 70px 52.5% 70px 10%;
        height: 640px;
        background: @grayBlack;
        p {
          font-size: @baseFontSize + 6;
          color: @white;
          margin-bottom: 30px;
        }
        span {
          display: block;
          font-size: @baseFontSize + 3;
          color: #b5b5b5;
          margin-bottom: 50px;
        }
        @media screen and (max-width: 991px){
          padding: 60px;
          height: 420px;
          .transparent_btn {
            width: 240px;
          }
        }
        padding: 30px;
      }
      @media screen and (max-width: 991px) {
        .red_block {
          height: 175px;
          & > .absolute_block {
            width: auto;
            height: auto;
            padding: 20px 0;
            .align(left);
            position: relative;
            left: auto;
            top: auto;
            border: none;
            h1 {
              display: inline-block;
            }
          }
        }
        .gray_block {
          height: auto;
        }
      }
      @media screen and (max-width: 600px) {
        .red_block {
          height: auto;
        }
      }
    }
  }
}
 .items {
   .item {
     height: 520px;
     padding: 12px;
     .transition();
     &.gray_item {
       .item_wrapper {
         background: #f9f9f9;
       }
     }
     .item_wrapper {
       padding: 50px 35px;
       border: 1px solid @bord_color;
       position: relative;
       .shadow_out_hover(@sh_gray);
       .hide_btn {
         width: 100%;
         height: 95px;
         padding: 20px 35px;
         bottom: -50px;
         left: 0;
         display: none;
         position: absolute;
         background: @white;
         .shadow(0 0 5px 4px @sh_gray);
         a {
          .item_btn();
         }
         .transition();
         &::before {
           content: '';
           display: block;
           width: 100%;
           height: 10px;
           position: absolute;
           top: -10px;
           left: 0;
           background: @white;
           z-index: 1000;
         }
       }
       &:hover {
         .hide_btn {
          display: block;
           z-index: 100;
         }
       }
     }
     .item_title {
       height: 100px;
       & > span {
         font-size: @baseFontSize + 8;
         color: @color-base;
       }
       .item_option {
         margin-top: 25px;
       }
     }
     .item_img {
       height: 270px;
       img {
         .margin_align();
       }
     }
     .item_price {
       span {
         font-size: @baseFontSize * 2;
         i {
           font-size: @baseFontSize * 1.7;
         }
       }
     }
   }
   .review_item {
     margin-top: 17%;
     height: 275px;
     padding: 12px;
     .review_wrapper {
      border: 2px solid @color-base;
       height: 100%;
       padding: 75px;
       .align();
       p {
         font-family: @hightBlod;
         font-size: @h2_size;
       }
     }
     @media screen and (max-width: 1500px) {

         margin-top: 27.5%;

     }
   }
 }
 .special_items {
   .transform(translateY(-300px));
   margin-bottom: 80px;
   @media screen and (max-width: 991px) {
     .transform(none);
     .item {
       height: auto;
       padding: 0;
       margin-bottom: -1px;
     }
     .block_capt {
       background: transparent;
       height: 125px;
       padding: 25px;
     }
   }

 }
 .catalog_page {
   .items {
     margin-bottom: 70px;
   }
   .more {
     margin-bottom: 70px;
     a {
       font-family: @baseFont;
       color: @color-base;
       border-color: @color-base;
       width: 230px;
       font-size: @baseFontSize + 5;
       .margin_align();
       .btn_hover(@color-base, @white);
     }
   }
 }
 .catalog_inline_page,
 .cart_page {
   .item {
       padding:0 2.5%;
       border: 1px solid @bord_color;
       .item_img {
         img {
           max-width: 80%;
           max-height: 230px;
           vertical-align: middle;
         }
       }
       .item_title {
         padding: 80px 0;
         h5 {
           color: @color-base;
         }
       }
     .item_price {
       .align(left);
       span {
         font-size: @h2_size - 4;
       }
     }
       .price_sect {
         padding: 90px 0;
         .item_btn {
           a {
            .item_btn();
           }
         }
       }
       height: 230px;
       & > .row {
       & > div {
         height: 230px;
         display: table-cell;
         vertical-align: middle;
       }
     }

   }
   .more {
     margin: 50px 0;
     a {
       border-color: @color-base;
       color: @color-base;
       width: 230px;
       .btn_hover(@color-base, @white);
     }
   }
   .quantity_count {
     float: right;
     margin-right: 50px;
    span {
      display: block;
      float: left;
      height: 50px;
      border: 1px solid @bord_color;
      padding: 13px;
      .align();
      &.char {
        width: 50px;
      }
      &.int {
        width: 70px;
        border-right: none;
        border-left: none;
        font-size: @baseFontSize + 4;
      }
    }
   }
   .item_delete {
     .align(right);
   }
   .result_sum {
     padding: 40px 20px 40px 0;
     background: @backgroundGray;
     height: 230px;
     border: 1px solid @bord_color;
     border-bottom: 2px solid @bord_color;
     p {
       font-size: 40px;
     }
     a {
       .item_btn();
       background-image: none;
       width: 230px;
       padding: 20px;
     }
     @media screen and (max-width: 991px) {
       padding: 60px 0;
       height: 350px;
       .align();
       span {
         font-size: @h3_size;
         color: @black;
         margin-bottom: 30px;
         display: block;
       }
       p {
         margin-bottom: 50px;
         font-family: @hightBlod;
       }
       a {
         display: inline-block;
         width: 80%;
         padding: 17px;
         font-size: @h2_size;
       }
     }
     @media screen and (max-width: 480px) {
       a {
         font-size: @baseFontSize + 5;
       }
     }
   }
   margin: 0 0 100px 0;
   @media screen and (max-width: 991px) {
     margin-bottom: 0;
   }
 }
 .cart_page {
   .block_capt {
     margin-bottom: 30px;
   }
 }
 .mobile_item {
   .item_title {
     .align();
     h3 {
       font-family: @baseFont;
       color: @color-base;
     }
   }
   .item_img {
     margin-bottom: 50px;
     img {
       .margin_align();
     }
   }
   .quantity_count {
     float: none;
     .align();
     span {
       &.char {
         width: 90px;
       }
       &.int {
         width: 150px;
       }
     }
     @media screen and (max-width: 335px) {
       span {
         &.char {
           width: 70px;
         }
         &.int {
           width: 130px;
         }
       }
     }
   }
   .item_price {
     .align();
     margin: 40px 0;
     h2 {
       font-family: @baseFont;
     }
   }
 }

 .sort_row {
   & > .container {
     & > .row {
       background: @backgroundGray;
       height: 60px;
       padding: 20px;
     }
   }
   .sort {
     ul {
       li,
       a {
         color: #8f8f8f;
       }
       li {
         margin-right: 25px;
         a {
           .text_hover();
           &.active {
             position: relative;
             &::after {
              content: '';
               display: block;
               position: absolute;
               bottom: -5px;
               left: 0;
               width: 110%;
               height: 2px;
               background: @color-base;
             }
           }
         }
       }
     }
   }
   .view {
    ul {
      & > li {
        &:first-of-type {

        }
        margin-right: 10px;
        i {
          margin-left: 10px;
        }
      }
      li {
        a {
          color: #8f8f8f;
          text-decoration: underline;
          .text_hover();
        }
      }
    }
   }
 }
 .adventage {
   margin-bottom: 70px;
   & > .container {
     & > .row {
       height: 275px;
       background: @backgroundGray;
       border-top: 2px solid @black;
       .adventage_item {
         padding: 70px 100px 70px 70px;
         .item_icon {
           height: 65px;
         }
         .item_title {
           margin-bottom: 20px;
           span {
             font-size: @baseFontSize + 8;
           }
         }
         .item_content {
           line-height: 1.7;
         }
       }
     }
   }
   @media screen and (min-width: 991px) and (max-width: 1500px) {

       & > .container {
         & > .row {
           .adventage_item {
             padding: 30px;
           }
         }
       }
   }
   @media screen and (max-width: 991px) {
     & > .container {
       & > .row {
         height: auto;
         .adventage_item {
           .item_icon {
             height: 0;
           }
         }
       }
     }
     .adventage_item {
       .item_content,
       .item_title {
         margin-left: 100px;
       }
     }
   }
 }
 .news {
   .block_capt {
     & > .container {
       padding-left: 70px;
     }
   }
    .news_item {
      height: 280px;
      padding: 0 100px 0 70px;
      .item_title {
        height: 55px;
        margin-bottom: 40px;
        p {
          color: @color-base;
          font-size: @baseFontSize + 2;
        }
      }
      .item_content {
        color: #808080;
      }

    }
   @media screen and (min-width: 991px) and (max-width: 1500px) {
     .news_item {
       padding: 30px;
     }
   }
 }
 main {
   .order_page {
     margin-bottom: 150px;
     .order_caption {
       height: 140px;
       padding: 50px 0;
       background: @grayBlack;
       .align();
       h5 {
         color: @white;
         span {
           font-size: @baseFontSize * 2;
         }
       }
     }
     .form_wrapper {
       border: 1px solid #e0e0e0;
       border-top: none;
     }
     .order_form {
      .custom_form();
     }
     .form_img {
       padding: 200px 0 40px 0;
       img {
         .margin_align();
       }
     }
   }
   .contact_page {
     .breadcrumbs {
       margin-top: 0;
     }
     .contact_info {
       position: absolute;
       top: 50px;
       left: 0;
       z-index: 1000;
       .info_icon {
         margin-bottom: 30px;
       }
      .info_item {
        height: 330px;
        padding: 80px 20px;
        border: 10px solid @white;
        background: @backgroundGray;
        border-bottom: 20px solid @white;
        .align();
        &:first-of-type {
          border-left: 20px solid @white;
        }
        &:last-of-type {
         border-right: 20px solid @white;
        }
        i {
          display: inline-block;
        }
        span {
          font-size: @baseFontSize + 4;
          font-family: @mediumBold;
        }
        &:nth-of-type(2) {
          span {
            font-size: @h2_size;
          }
        }
        @media screen and (max-width: 991px) {
          height: 200px;
         border-right: 0 !important;
          border-left: 0 !important;
          padding: 35px 0 35px 0;
          .align();
          &:not(:last-of-type) {
            border-bottom: none;
          }
          &:last-of-type {
            border-bottom: 10px solid @white;
          }
          .info_icon,
          .info_text {
            display: inline-block;
          }
          .info_icon {
            vertical-align: middle;
            padding-right: 15px;
          }
          .info_text {
            width: 60%;
          }
        }
      }
       @media screen and (max-width: 991px) {
         position: relative;
         top: auto;
         left: auto;
       }
     }
     #map {
       height: 730px;
     }
     .info_container {
       height: 240px;
       position: relative;
       @media screen and (max-width: 991px) {
         height: auto;
       }
     }
     .contact_form {
       .custom_form();
       @media screen and (max-width: 991px) {
          form {
            input {
              .placeholder_col();
              .moz_placeholder();
              &.inline {
                display: block;
                float: none !important;
                width: 100%;
              }
              &[type="submit"] {
                width: 100%;
                font-size: @h2_size;
              }
            }
          }
       }
       @media screen and (max-width: 480px) {
         form {
             input[type="submit"] {
               font-size: @baseFontSize + 5;
             }
         }
       }
     }
   }
 }
 #itemCarousel {
   .item {
     height: 440px;
     img {
       .margin_align();
     }
   }
 }
 #prevCarousel {
   width: 100%;
   margin-bottom: 50px;
   .item {
   }
   .item_prev {
     .flex-align();
     .box();
     height: 100px;
     border: 1px solid @bord_color;
     width: 15%;
     float: left;
     margin-right: 10px;
    &:not(:last-of-type) {

    }
     &.active {
       border-color: 1px solid @color-base;
     }
   }
 }
.carousel-control {
  bottom: auto;
  font-size: 50px;
  right: auto;
  color: #d9d9d9;
  background-image: none !important;
  text-shadow: none;
  .shadow(none);
}
 .item_page {
   .item_about {
     p {
       font-size: @baseFontSize + 4;
       line-height: 2;
     }
   }
 }
 .main_page_news {
   margin-bottom: 50px;
 }
 footer {
   padding: 100px 0;
   p, h3 {
     color: @white;
   }
    p {
      line-height: 1;
    }
   .footer_payment {
     margin-bottom: 35px;
   }
   .footer_contact {
     h3 {
       .padding_margin_clear();
     }
   }
   .footer_copy {
     margin-bottom: 35px;
   }
   .footer_social {
     ul {
       li {
         display: inline-block;
         margin-right: 10%;
         a {
           .img_hover();
         }
       }
     }
   }
   .row {
     & > div {
padding-left: 70px;
       &:last-of-type {
         p {
           .align();
         }
       }
     }
   }
   @media screen and (max-width: 991px) {
     padding: 60px 0;
     .row {
       & > div {
         padding: 0 5%;
         p {
           font-size: @baseFontSize + 4;
         }
         &:first-of-type {
           h3 {
             color: @white;
           }
         }
         span {
           color: #8e8e8e;
         }
       }
     }
     .social_mobile {
       margin-top: 75px;
       ul {
         .flex-align();
         li {

         }
       }
     }
   }

 }


 @media screen and (max-width: 1500px) {
   header {
     .header_brand {
       h2 {
         font-size: @baseFontSize + 8;
       }
     }
     .header_contact {
       a {
        font-size: @baseFontSize - 3;
       }
       h3 {
         font-size: @baseFontSize + 5;
       }
     }
   }
 }

.item_block {
  #catalogItem {
    .item {
      height: 380px;
      img {
        margin: 0 auto;
      }
    }
  }
  #itemControl {
   .catalog_control {
     .flex-align();
     padding: 0 50px;
   .control_item {
     width: 100px;
     height: 100px;
     border: 1px solid @bord_color;
     .transition();
     .flex-align(center);
     &.red_bord,
     &.active {
       border-color: @color-base;
     }
   }

   }
  }
  .carousel-control {
    top: 10%;
    opacity: 1;
    i {
      font-size: 30px;
      color: @textGray;
      .hover_scale(2);
      .transition(all, 0.1s);
    }
    &.left {
      left: -25px;
    }
    &.right {
      right: -25px;
    }
  }
}
&.item_page {
  .item_cover {
    padding-top: 100px;
    height: 550px;
    #itemCarousel {
      .item {
        img {
          .margin_align();
        }
      }
    }
  }
  .item_preview {
    margin-bottom: 130px;
    #previewCarousel {
      position: relative;
      .item {
        padding: 0 50px;
        .item-prev {
          cursor: pointer;
          padding: 20px;
          border: 1px solid @bord_color;
          height: 120px;
          width: 14%;
          float: left;
          margin-right: 1%;
          img {
            .margin_align();
          }
        }
      }
        .carousel-control {
          box-shadow: none;
          text-shadow: none;
          background-image: none;
          opacity: 1;
          top: auto;
          bottom: auto;
          width: 11px !important;
          height: 17px !important;
          &.left {
          left: 0;
          }
          &.right {
          right: 0;
          }
          img {
            height: auto;
            max-width: 100%;
          }
        }
    }
  }
  .item_option {
    margin-top: 100px;
    .price {
      h2 {
        font-size: @h2_larg;
      }
    }
    .item_btn {
      a.btn_base {
        height: 60px;
        padding: 22px;
        width: 215px;
      }
    }
    .option {
      & > div {
        margin-bottom: 10px;
      }
      span,
      p {
        font-size: @baseFontSize + 2;
        color: @lightBlack;
      }
      p {
        padding-right: 30%;
        padding-top: 20px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    #itemCarousel {
      .item {
        height: 500px !important;
      }
      .carousel-indicators {
        bottom: 0;
        li {
          background: transparent;
          border-color: @color-base;
          width: 10px;
          height: 10px;
          margin: 0;
          margin-right: 10px;
          &.active {
            width: 10px;
            height: 10px;
            margin: 0;
            margin-right: 10px;
            background: @color-base;
          }
        }
      }
    }
    .item_option {
      .price {
        background: @backgroundGray;
        border: 1px solid @bord_color;
        padding: 20px;
        margin-bottom: 50px;
        h2 {
          .align();
        }
      }
    }
    .option {
      padding-left: 30px;
    }
  }
}
.item_btn {
  margin-bottom: 100px;
  padding: 13px 5%;
  a.btn_base {
    height: 70px;
    padding: 20px;
  }
}
