@black: #3b3b3b;
@background_dark_black: #242424;
@nav_color: #676767;
@white: #ffffff;
@lightGray: #b6b6b6;
@gray: #f3f3f3;
@mediumGray: #454545;
@darkGray: #656565;
@color-base: #ef5733;
@backgroundGray: #f8f8f8;
@backGray: #f7f7f7;
@backgroundLightGray: #fcfcfc;
@modalBackground: #f6f6f6;
@bord_color: #ebebeb;
@textGray: #b8b8b8;
@lightBlack: #3e3e3e;
@grayBlack: #4e4e4e;
@lightTextGray: #a3a3a3;
@shadow: rgba(0, 0, 0, 0.4);
@red: #f05242;
@sh_gray: #dcdcdc;
@mgray: #3b3b3b;
@range_col: #cccccc;
@footer_col: #929292;




@baseFont: 'centros-reg';
@hightBlod: 'centros-bold';
@cenrosIntro: 'centros-intro';
@extraBold: 'bold_font';
@doctor: 'docter_two';
@light_font: 'open_sans_light';
@mediumBold: 'open_sans_med';


@baseFontSize: 13px;
@h2_size: 32px;
@h2_larg: 50px;
@h3_size: 22px;
@extra: 115px;
@large: 76px;
@x-large: 59px;
@blockHeight: 185px;
@mediumSize: 36px;
@cart_price: 26px;






